.gallery-item {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 12px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Para las dos imágenes grandes del final */
.gallery-large {
    height: 260px;
}
